

{% block frontsynchroniser_body %}
    <div class="editor">
        <code class="couche-code">
            {{ coucheCode.render() | raw }}
        </code>
        <div class="couche-visuel">
            {{ coucheVisuel.render() | raw }}
        </div>
    </div>




    <style type="text/css">
        .line {
            height: 20px;
            overflow-y: hidden;
        }

        .node-conteneur
        {
            background: purple;
            color: white;
        }

        code
        {
            display: block;
        }

        .editor
        {
            position: relative;
        }

        .couche-code
        {
            z-index: 3;
        }

        .couche-visuel
        {
            z-index: 4;
        }

        .couche-visuel-dom
        {
            background: transparent;
        }

        .couche-visuel > div:not(.couche-visuel-editeur):hover
        {
            background: rgba(50, 100, 200, .5);
        }

        .couche-visuel-editeur
        {
            display: none;
            width: 100%;
            height: 100%;
        }

        .couche-visuel-editeur textarea
        {
            width: 100%;
            height: 100%;
        }

        .couche-visuel-editeur form
        {
            height: 100%;
        }

        .couche-visuel-dom-editing
        {
            z-index: 100000 !important;
        }

        textarea[name=content]
        {
            display: none;
        }

        .couche-visuel-dom-editing .couche-visuel-editeur
        {
            display: block;
        }

        .onoff
        {
            width: 20px;
            -webkit-border-radius: 5px;
            height: 20px;
            background: red;
            position: absolute;
            left: -5px;
            top: 0px;
        }

        input[type=checkbox]:checked + label + div.onoff
        {
            background: green;
        }

        .ace_editor
        {
            width: 100%;
            height: 100%;
            z-index: 100001;
        }

        .node.node-text
        {
            color: green;
            font-weight: bold;
        }

        .node
        {
            background: rgba(100, 100, 100, .1);
            padding: 2px;
        }

        .node:hover {
            background: yellow;
        }
    </style>

{% endblock %}

{% block javascripts %}
    <script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">


            $(".node").blur(function()
            {
                console.log("Node " + $(this).data("path") + " changed : " + $(this).html());
            });


            $(".couche-visuel-dom").click(function()
            {
                $(this).addClass("couche-visuel-dom-editing");
            });

            $(".couche-visuel-dom").click(function()
            {
                $textarea = $(this).find(".code");

                $textareaval = $(this).find("[name=content]");

                var editor = ace.edit($textarea[0])

                editor.setTheme("ace/theme/twilight");
                editor.getSession().setMode("ace/mode/html");

                editor.getSession().on("change", function()
                {
                    $textareaval.val(editor.getSession().getValue());
                });

                $textareaval.val(editor.getSession().getValue());
            });

            $(".couche-visuel-editeur").click(function(event)
            {
                event.stopPropagation();
            });
    </script>

{% endblock %}