{% extends "FrontSynchroniserBundle::layout.html.twig" %}

{% block frontsynchroniser_body %}
    Test

    <div class="editor">
        <code class="couche-code">
            {{ coucheCode.render() | raw }}
        </code>
        <div class="couche-visuel">
            {{ coucheVisuel.render() | raw }}
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            Configuration
        </div>
        <div class="body">
            <div class="clearfix">
                <div class="">
                    <div class="checkbox">
                        <input type="checkbox" id="option-drag">
                        <label for="option-drag">Activer le déplacement de contenu</label>
                        <div class="onoff"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="console">

    </div>

    <style type="text/css">
        .editor
        {
            position: relative;
        }

        .couche-code
        {
            z-index: 3;
        }

        .couche-visuel
        {
            z-index: 4;
        }

        .couche-visuel-dom
        {
            background: transparent;
        }

        .couche-visuel div:not(.couche-visuel-editeur):hover
        {
            background: rgba(50, 100, 200, .5);
        }

        .couche-visuel-editeur
        {
            display: none;
            width: 100%;
            height: 100%;
            border: solid red 2px;
            background: white;
        }

        .couche-visuel-dom-editing
        {
            z-index: 100000 !important;
        }

        .couche-visuel-dom-editing .couche-visuel-editeur
        {
            display: block;
        }

        .onoff
        {
            width: 20px;
            -webkit-border-radius: 5px;
            height: 20px;
            background: red;
            position: absolute;
            left: -5px;
            top: 0px;
        }

        input[type=checkbox]:checked + label + div.onoff
        {
            background: green;
        }

        .console
        {
            background: rgba(255,0,0,.2);
            padding: 5px;
            height: 200px;
            overflow: auto;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            font-weight: bold;
            width: 100%;
        }

         body
        {
            margin-top: 200px;
        }

        .node.node-text
        {
            color: green;
            font-weight: bold;
        }

        .node
        {
            background: rgba(100, 100, 100, .1);
            padding: 2px;
        }

        .node:hover {
            background: yellow;
        }
    </style>

{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        console.log = function(message)
        {
            $(".console").append("log : " + message + "<br>");
        };

        $(".node").blur(function()
        {
            console.log("Node " + $(this).data("path") + " changed : " + $(this).html());
        });

        $("#option-drag").change(function()
        {
             if($("#option-drag").is(":checked"))
             {
                 $(".node").draggable();

                 console.log("activation de l'option drag");
             }
             else
             {
                 $(".node").draggable("destroy");

                 console.log("desactivation de l'option drag");
             }
        });

        $(".couche-visuel-dom").click(function()
        {
           $(this).addClass("couche-visuel-dom-editing");
        });
    </script>
{% endblock %}