<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
<div class="container">

    <div class="row">
        {% include "FrontSynchroniserBundle::menu.html.twig" %}
    </div>
    <div class="row">
        {% block frontsynchroniser_body %}
        {% endblock %}
    </div>
</div>
</body>
    {% block javascripts %}
    {% endblock %}
</html>
