<ul class="nav navbar-nav">
    <li>
        <a href="{{ path("debug_frontsynchroniser_showtemplate") }}">Voir les templates</a>
        <a href="{{ path("debug_frontsynchroniser_edittemplate") }}">Editer les templates</a>
    </li>
</ul>